<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--设置上下文名称-->
    <contextName>myAppName</contextName>

    <!-- 文件输出格式 -->
    <property name="PATTERN" value="hehe %-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
    <!-- pro文件路径 -->
    <property name="PRO_FILE_PATH" value="D:/logs" />

    <appender name="DEV_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <logger name="com.example.springbootbasis" level="debug" />
    <!--<logger name="org.springframework" level="debug" />-->

    <!-- 生产环境 -->
    <!--<springProfile name="prod">-->
    <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/logs/springbootbasis.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PRO_FILE_PATH}/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>100</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>
    <!--</springProfile>-->

    <!-- 日志输出级别 -->
    <root level="info">
        <appender-ref ref="DEV_LOG" />
        <appender-ref ref="PROD_FILE" />
    </root>
</configuration>